<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
  	<span>
  		<%= f.submit "Submit", :id => 'submit_button' %>
	</span>
	<span class="char_counter">	  	
	  	<label id="chars_left" class="counter">140 characters left</label>	    
    </span>    
  </div>
<% end %>

